.about{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #222;
    color: #F7DC2C;
    background: url("../img/bg.png");
}
.about div .img img{
    margin: auto;
    width: 250px;
    border-radius: 30px;
}
.about div{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 50px;
    width: 100%;
}
.about div div{
    width: 50%;
}
.about div .img{
    margin: -50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.about div .cont{
    flex-direction: column;
    font-size: 20px;
}

@media only screen and (max-width: 1000px){
    .about div{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .about div .cont{
        width: 100%;
        font-size: 17px;
    }
}

