.home{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F7DC2C;
    background: url("../img/bg\ light.png");
}
.home span{
    font-size: 60vh;
    font-weight: 100;
    position: absolute;
    transform: rotate(-30deg);
    top: -50px;
    right: -100px;
    color: white;
    opacity: 0.5;
    transition: 0.4s;
    z-index: 0;
}
.home div{
    z-index: 1;
}
.home .img{
    width: 200px;
    height: 200px;
    padding: 2px;
    background-color: #222;
    border-radius: 50%;
    animation-name: HomePicAnimation;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes HomePicAnimation{
    0%{
        box-shadow: 0px 5px 10px black;
        transform: translate(0px, 0px);
    }40%{
        box-shadow: 0px -5px 20px white;
        transform: translate(0px, -20px);
    }50%{
        box-shadow: 0px -5px 20px white;
        transform: translate(0px, -20px);
    }100%{
        box-shadow: 0px 5px 10px black;
        transform: translate(0px, 0px);
    }
}

.home .cont{
    font-family: "Century Gothic";
    margin-left: 60px;
}
.home .cont h1{
    font-size: 50px;
}
.home .cont p{
    font-size: 30px;
}
.showAbout{
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 40px;
    margin: auto;
    transition: 0.4s;
}
.showAbout:hover{
    transform: translate(0px, 20px);
    color:#222
}
.showAbout i{
    margin: 15px 0;
    background-color: #2227;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 10px;
}




@media only screen and (max-width: 1000px){
    .home span{
        font-size: 45vh;
    }
    .home{
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
    }
    .home .cont{
        margin: 0;
    }
    .home .cont h1{
        font-size: 40px;
    }
    .home .cont p{
        font-size: 25px;
    }
}
@media only screen and (max-width: 500px){
    .home span{
        transform: rotate(-70deg);
        top: 100px;
        font-size: 35vh;
    }

}
