.works{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 10%;
    /* background: url("../img/bg\ light\ 2.png"); */
    padding: 50px 0;
}
.worksHeight{
    height: auto;
}
.works .menu{
    /* padding: 0px 100px */
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2228;
    margin: 20px;
}
.works .menu button{
    cursor: pointer;
    background-color: transparent;
    border:none;
    font-size: 20px;
    padding: 10px 20px;
    transition: 0.4s;
}
.works .menu button:hover{
    background-color: #F7DC2C88;
}
.works .menu .active{
    background-color: #F7DC2C88;
}
.container{
    width: auto;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow: hidden;
    margin-bottom: 40px;
    transition: 0.4s;
    position: relative;
    padding: 5px;
    transition: 0.4s;
    transition: overflow 0 0.4s;
}
.containerShadow{
    border-radius: 20px;
    box-shadow: inset 0 -150px 50px -50px #222b;
}
.container .sectionWeb, .container .sectionGraphic{
    z-index: -1;
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 5px;
}
.container .sectionLogo{
    z-index: -1;
    width: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 5px;
}
.zIndex{
    z-index: 0;
}
.container .section img{
    margin-top: 10px;
    width: 100%;
    border-radius: 20px;
}
.showPics{
    overflow: auto;
    height: auto;
}
.show{
    cursor: pointer;
    background-color: transparent;
    padding: 10px 25px;
    border-radius: 20px;
    font-size: 15px;
    font-family: "Century Gothic";
    border: 2px solid #222;
    color: #222;
    transition: 0.4s;
}
.show:hover{
    background-color: #222;
    color: #F7DC2C
}
.behance{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    width: 80%;
}
.behance iframe{
    margin: 10px, 10px, 10px, 10px;
}

@media only screen and (max-width: 1000px){
    .works .menu{
        width: 50%;
        flex-direction: column;
    }
    .works .menu button{
        width: 100%;
    }
    .behance{
        width:100%;
    }

}
